$govuk-gutter: 30px !default;
$govuk-gutter-half: $govuk-gutter / 2;

$breakpoints: (
  mobile:  320px,
  tablet:  641px,
  desktop: 769px,
  max:     1020px
) !default;

$govuk-grid-widths: (
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%
) !default;

$govuk-spacing-points: (
  0: 0,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 40px,
  8: 50px,
  9: 60px
) !default;

//colours

$govuk-focus-colour: #ffdd00;
$govuk-focus-text-colour: #0b0c0c;
$error-colour: #d4351c;
$govuk-blue: #005ea5;