$govuk-assets-path: "/vat-repayment-tracker/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/vat-repayment-tracker/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

@import "timeline";

.govuk-back-link:before {
  clip-path: none;
  text-decoration: none;
}