@import "utils/reset";
@import "utils/settings";
@import "utils/helpers";
@import "utils/layout";

//components
@import "tabs.css";
@import "timeline";

/* typography */
h1, .heading-h1,
h2, .heading-h2,
h3,  .heading-h3,
h4, h5, h6 {
  margin: 0;
  font-weight: 700;
  line-height: 1.04;
}
h1, .heading-h1 { //govuk-heading-xl
  font-size: 32px;
  margin-bottom: 30px;
  @include break(desktop) {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
h2, .heading-h2 { //govuk-heading-l
  font-size: 24px;
  margin-bottom: 20px;
  @include break(desktop) {
    font-size: 36px;
    margin-bottom: 30px;
  }
}
h3, .heading-h3 { //govuk-heading-m
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.1;
  @include break(desktop) {
    font-size: 20px;
    font-size: 24px;
  }
}
p, .govuk-body {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 0;
  @include break(desktop) {
    font-size: 19px;
    line-height: 1.31579;
    margin-bottom: 20px;
  }
}
strong { font-weight: 700; }
em { font-style: italic; }

//extra spacing for heading following [p, ol, ul, h1-6]
h1, h2, h3, h4, h5, h6 {
  + h1, + h2, + h3, + h4, + h5, + h6,
    + p, + ol, + ul {
      margin-top: 5px;
      @include break(desktop) {
        margin-top: 10px;
      }
    }
}

/* fix some problems */
.header__menu__proposition-name {
  color: white;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  @include break(desktop) {
    font-size: 24px;
    line-height: 1.25;
  }
}
.centered-content {
    margin: 0 15px;
    max-width: 960px;
    @include break(tablet) {
        margin: 0 30px;
    }
    @include break(max) {
        margin: 0 auto;
    }
}
.service-info {
    .logo { display: none; }
    .beta-banner {
        padding: 10px 0;
        border-bottom: 1px solid #b1b4b6;
        > p {
            margin-bottom: 0;
        }
    }
}

/* back button */
.govuk-back-link:link, 
.govuk-back-link:visited, 
.govuk-back-link:hover, 
.govuk-back-link:active {
  color: #0b0c0c;
}
.govuk-back-link {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.25;

  &:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    border-width: 5px 6px 5px 0;
    border-right-color: inherit;
    content: "";
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: 0;
    margin: auto;
  }

}

/* a11y */
a,
.error-summary a:link,
.error-summary a:visited,
.govuk-breadcrumbs__link,
#global-header .header-proposition #proposition-links li a {
  &:focus {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    text-decoration: none;
    outline: none;
  }
}

.multiple-choice [type=radio]:focus+label::before {
    box-shadow: 0 0 0 4px $govuk-focus-colour;
}


/* table polyfill */
.govuk {

  &-table {
    margin-bottom: 20px;
    
    @include break(desktop) {
      margin-bottom: 30px;
    }
  }

  &-table__row td {
    border: none;
  }

}

/* summary lists */
.summary-list {
    margin-bottom: 20px;
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 16px;

    &__row {
        display: table-row;
    }

    &--undivided {
        border-bottom: 1px solid #bfc1c3;
    }

    &__key, &__value, &__actions {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #bfc1c3;
        padding-right: 20px;
        display: table-cell;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    &--undivided &__key,
    &--undivided &__value,
    &--undivided  &__actions{
        border-bottom: none;
    }

    &__key {
        width: 30%;
        font-weight: 700;
    }

    &__actions {
        width: 20%;
        text-align: right;
    }

    &__value {
        width: 50%;
    }

    @include break(desktop) {
        margin-bottom: 30px;
        font-size: 19px;
    }
}

#proposition-links {
    float: right;
}

/* error styles */
.error-summary,
.form-group-error {
    border-color: $error-colour;
    @include break(tablet) {
        border-color: $error-colour;
    }
}
.error-message {
    color: $error-colour;
}
.error-summary {
    a:link,
    a:visited {
        color: $error-colour;
        font-weight: 700;
    }
}

#error-summary-heading {
    font-size: 18px;
    line-height: 1.11111;
    margin-bottom: 15px;

    @include break(desktop) {
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 20px;
    }
}

//radio button overrides
.multiple-choice {
    input:focus + label:before {
        border-width: 4px;
        top: -2px;
        left: -2px;
    }
}

//get help form
#report-error-partial-form {
    margin-top: 10px;
}




//breadcrumb start

.govuk-breadcrumbs {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  color: #0b0c0c;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media print {
  .govuk-breadcrumbs {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-breadcrumbs {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .govuk-breadcrumbs {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .govuk-breadcrumbs {
    color: #000000;
  }
}

.govuk-breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.govuk-breadcrumbs__list:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-breadcrumbs__list-item {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  margin-left: 10px;
  padding-left: 15.655px;
  float: left;
}

.govuk-breadcrumbs__list-item:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  bottom: 1px;
  left: -3.31px;
  width: 7px;
  height: 7px;
  margin: auto 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #6f777b;
}

.govuk-breadcrumbs__list-item:first-child {
  margin-left: 0;
  padding-left: 0;
}

.govuk-breadcrumbs__list-item:first-child:before {
  content: none;
  display: none;
}

.govuk-breadcrumbs__link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  .govuk-breadcrumbs__link {
    font-family: sans-serif;
  }
}

.govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited, .govuk-breadcrumbs__link:hover, .govuk-breadcrumbs__link:active, .govuk-breadcrumbs__link:focus {
  color: #0b0c0c;
}

@media print {
  .govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited, .govuk-breadcrumbs__link:hover, .govuk-breadcrumbs__link:active, .govuk-breadcrumbs__link:focus {
    color: #000000;
  }
}

//breadcrumb finish
//backlink start
.govuk-back-link {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.14286;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  border-bottom: 1px solid #0b0c0c;
  text-decoration: none;
}

@media (min-width: 40.0625em) {
  .govuk-back-link {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .govuk-back-link {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .govuk-back-link {
    font-family: sans-serif;
  }
}

.govuk-back-link:focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
  background-color: #ffbf47;
}

.govuk-back-link:link, .govuk-back-link:visited, .govuk-back-link:hover, .govuk-back-link:active, .govuk-back-link:focus {
  color: #0b0c0c;
}

@media print {
  .govuk-back-link:link, .govuk-back-link:visited, .govuk-back-link:hover, .govuk-back-link:active, .govuk-back-link:focus {
    color: #000000;
  }
}

.govuk-back-link:before {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
  border-width: 5px 6px 5px 0;
  border-right-color: inherit;
  content: "";
  position: absolute;
  top: -1px;
  bottom: 1px;
  left: 0;
  margin: auto;
}

.govuk-back-link:before {
  top: -1px;
  bottom: 1px;
}
//backlink finish


.add-bold {
    font-weight: bold
}

//classic stuff start
.govuk-list {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
  list-style-type: none;
}

.govuk-list--bullet {
  padding-left: 20px;
  list-style-type: disc;
}

//classic stuff end

#global-header #logo:focus {
    color: #0b0c0c;
}


.button--secondary,
.button--secondary:visited,
.button--secondary.disabled:hover,
.button--secondary[disabled="disabled"]:hover,
.button--secondary[disabled]:hover,
.block-label,
.block-label--stacked,
.footer,
.box--shaded,
.side-nav__link:hover,
.dataTable tbody .status--unconfirmed,
.tag,
.tabs-nav .tabs-nav__tab:focus,
.tabs-nav .tabs-nav__tab:hover,
.tabs-nav .tabs-nav__tab:active,
.tabs-nav a.tabs-nav__tab:focus,
.tabs-nav .tabs-nav__tab.link-style:focus,
.tabs-nav .tabs-nav__tab.button--link-style:focus,
.tabs-nav a.tabs-nav__tab:hover,
.tabs-nav .tabs-nav__tab.link-style:hover,
.tabs-nav .tabs-nav__tab.button--link-style:hover,
.tabs-nav a.tabs-nav__tab:active,
.tabs-nav .tabs-nav__tab.link-style:active,
.tabs-nav .tabs-nav__tab.button--link-style:active,
.annual-summaries--group .statement__summary--parent[aria-expanded=true],
.payments .table-label.selected,
.payments .table-label:hover,
.app-step-nav__button:focus,
html {
    background-color: #f3f2f1;
}

.button--secondary:active {
    -webkit-box-shadow: 0 0 0 #f3f2f1;
    box-shadow: 0 0 0 #f3f2f1
}

.block-label,
.block-label--stacked {
    border-color: #f3f2f1;
}

.dynamically-displayed {
    border-left: 5px solid #f3f2f1;
}

.explore a,
.explore--inside-government a,
.explore--inline a,
.explore .link-style,
.explore--inside-government .link-style,
.explore--inline .link-style,
.explore .button--link-style,
.explore--inside-government .button--link-style,
.explore--inline .button--link-style,
.explore--inline__links {
    color: #f3f2f1;
}

.indent {
    border-left-color: #f3f2f1;
}

.services-dashboard .service-option--links:first-child .service-option--item,
.account-menu__link:hover,
.is-smaller .account-menu__link--back {
    border-bottom-color: #f3f2f1;
}

.heading--underlined,
.section--branded h2,
.table--light-header thead,
.table__header--highlight,
.business-tax .section--branded h2,
.is-smaller .account-menu__link--home.account-menu__link--active:hover,
.account-menu__link--active,
.account-menu__link--active:visited {
    border-bottom-color: #1d70b8;
}

.heading-large--blue,
.button.button--link,
a.back-to-top-link:visited,
.back-to-top-link.link-style:visited,
.back-to-top-link.button--link-style:visited,
.page-nav__link,
.banner-links,
.side-nav--child .side-nav__list--selected .side-nav__link,
.dataTables_paginate a,
.dataTables_paginate .link-style,
.dataTables_paginate .button--link-style,
.accordion__button:visited,
.toggle__button,
.tabs-nav .tabs-nav__tab:visited,
.tabs-nav__tab,
.payments .tab,
.services-dashboard .service-option--links .service-option--link:link,
.link,
.link:active,
details summary,
a,
.link-style,
.button--link-style,
.button--link-style,
.subnav a:visited,
.subnav .link-style:visited,
.subnav .button--link-style:visited,
.is-smaller .subnav__section a:hover,
.is-smaller .subnav__section .link-style:hover,
.is-smaller .subnav__section .button--link-style:hover {
    color: #1d70b8
}

.brand-border--top,
.section--blue-top,
.footer,
.service-info {
    border-top-color: #1d70b8;
}

.button--notification,
.button--notification:visited,
.button--notification.disabled:hover,
.button--notification[disabled="disabled"]:hover,
.button--notification[disabled]:hover,
.alpha-banner .phase-tag,
.beta-banner .phase-tag,
.phase-tag,
.side-nav__list--selected .side-nav__link,
.side-nav__list--selected:hover .side-nav__link,
.highlight-message--dark,
.hero,
.paye-statements .sidebar-links__item.selected,
option:active,
option:checked,
.phase-banner .phase-tag,
.phase-banner-alpha .phase-tag,
.phase-banner-beta .phase-tag,
.phase-tag,
.full-width-banner,
.hmrc-banner .phase-tag {
    background-color: #1d70b8;
}

select:focus::-ms-value {
    background-color: #1d70b8;
}

.button--notification:active {
    -webkit-box-shadow: 0 0 0 #1d70b8;
    box-shadow: 0 0 0 #1d70b8;
}

.attorneyBanner,
.panel-indent--info,
.delegation-banner {
    border-left-color: #1d70b8;
}

.page-nav__link:focus,
.js-enabled .add-focus,
.modal-dialog__content:focus,
.button:focus,
details summary:focus,
.error-summary:focus,
.timeout-dialog:focus,
.app-step-nav__button:focus {
    outline-color: #ffdd00;
}

.multiple-choice [type=radio]:focus + label::before {
    -webkit-box-shadow: 0 0 0 4px #ffdd00;
    box-shadow: 0 0 0 4px #ffdd00;
}

.multiple-choice [type=checkbox]:focus + label::before {
    -webkit-box-shadow: 0 0 0 3px #ffdd00;
    box-shadow: 0 0 0 3px #ffdd00
}

.account-menu__link:focus,
.is-smaller .account-menu__link--home:focus,
.is-smaller .account-menu__link--menu:focus,
.is-smaller .account-menu__link--home.account-menu__link--active:focus,
.is-smaller .account-menu__link--menu.account-menu__link--active:focus {
    border-bottom-color: #ffdd00;
}

button,
.button,
button:visited,
.button:visited,
button.disabled:hover,
button[disabled="disabled"]:hover,
button[disabled]:hover,
.button.disabled:hover,
.button[disabled="disabled"]:hover,
.button[disabled]:hover,
.button--small,
.button--small:visited,
.button--small.disabled:hover,
.button--small[disabled="disabled"]:hover,
.button--small[disabled]:hover,
.toggle__button--active,
.toggle__button--active:hover,
.toggle__button--active:focus,
.button[disabled="disabled"] {
    background-color: #00703c;
}

button:active,
.button:active,
.button--small:active {
    -webkit-box-shadow: 0 0 0 #00703c;
    box-shadow: 0 0 0 #00703c;
}

.list--ticks li::before,
.tick,
.form-hint-list-item--valid {
    color: #00703c;
}

.button--alert,
.button--alert:visited,
.button--alert.disabled:hover,
.button--alert[disabled="disabled"]:hover,
.button--alert[disabled]:hover,
.marker-column__marker,
.reminder.urgent a,
.reminder.urgent .link-style,
.reminder.urgent .button--link-style,
.alert-block,
.alert--important,
.tabs-nav .tabs-nav__tab .count,
.flag.flag--urgent,
.highlight-block--red,
.main-nav .count,
.badge {
    background-color: #d4351c;
}

.button--alert:active {
    -webkit-box-shadow: 0 0 0 #d4351c;
    box-shadow: 0 0 0 #d4351c;
}

.email-form-errors .error-notification,
.annual-summaries--group .alert--text,
.sent-in-error,
.business-tax .content__body .flag.flag--urgent,
.error-message,
.error-summary .error-summary-list a,
.error-summary .error-summary-list .link-style,
.error-summary .error-summary-list .button--link-style {
    color: #d4351c;
}

.email-form-errors .error-notification,
.attorneyBanner--client-request-rejected,
.business-tax .content__body .flag.flag--urgent,
.form-group-error {
    border-left-color: #d4351c;
}

.business-tax .alert--failure,
.form-control-error,
textarea.form-control-error,
input.form-control-error[type="text"],
input.form-control-error[type="password"],
.error-summary {
    border-color: #d4351c;
}

.form-control-error.form-control-error.form-control-error {
    border-color: #d4351c;
}


a:focus,
.error-summary .error-summary-list a:focus,
details summary:focus,
.app-step-nav__button:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
}

details summary:focus .summary {
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
#global-header input:focus {
    outline-color: #fd0;
}

.button {
    border: 2px solid transparent;
}

.button:focus:not(:active):not(:hover) {
    border-color: #fd0;
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 2px 0 #0b0c0c;
    box-shadow: 0 2px 0 #0b0c0c;
}

.button:focus {
    border-color: #fd0;
    outline: 3px solid transparent;
    -webkit-box-shadow: inset 0 0 0 1px #fd0;
    box-shadow: inset 0 0 0 1px #fd0;
}

.autocomplete__input:focus,
.form-control:focus
{
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.multiple-choice input {
    top: -2px;
    left: -2px;
    width: 44px;
    height: 44px;
}

.multiple-choice [type="radio"]:focus + label::before {
    border-width: 4px;
}
.multiple-choice [type=radio]+label::after {
    top: 10px;
    left: 10px;
}

.multiple-choice [type=checkbox]:focus + label::before {
    border-width: 3px;
}

.report-error .report-error__toggle:focus,
#footer a:focus,
#global-header .header-proposition #proposition-links li a:focus,
#global-header .header-proposition a.menu:focus,
#global-header #logo:focus {
    color: #0b0c0c;
}

#global-header #logo:focus img {
    filter: invert(1);
}

.account-menu__link:focus,
.is-smaller .account-menu__link--home:focus,
.is-smaller .account-menu__link--menu:focus,
.is-smaller .account-menu__link--home.account-menu__link--active:focus,
.is-smaller .account-menu__link--menu.account-menu__link--active:focus {
    color: #0b0c0c;
    background-color: #fd0;
}

@media (min-width: 641px) {
    #footer .footer-meta .copyright a {
        background-position: 50% 0;
        float: right;
    }
}

#footer .footer-meta .copyright a:focus {
    background-color: #fd0;
}

textarea:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.form-control-error.form-control-error:focus {
    border-color: #0b0c0c;
    -webkit-box-shadow: none;
    box-shadow: none
}


.multiple-choice [type=radio]:focus + label::before {
    border-width: 4px;
    box-sizing: border-box;
    top: 2px;
    left: 2px;
}
.multiple-choice [type=radio]+label::after {
    content: "";
    border: 9px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}