@import "utils/settings";
@import "utils/helpers";

.hmrc-timeline {

    border-left: 3px solid $govuk-blue;

    margin: 0px;
    padding: 0px;

    &-event {
      @include _space(4, 'padding', 'left');
      @include _space(6, 'padding', 'bottom');
      position: relative;
      list-style: none;

      &:last-child {
        padding-bottom: 0px;
      }

    }

    &-event-title {
        @include _space(1, 'margin', 'bottom');

        &:before {
          background-color: $govuk-blue;
          content: '';
          height: 3px;
          left: 0px;
          top: .5em;
          position: absolute;
          width: map-get($govuk-spacing-points, 4) * 0.6;
        }
    }

    &-event-meta {
        display: block;
    }
}
